@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar {
  transition: top 0.3s ease-in-out;
}

.active-breadcrumb {
  color: #000;
  font-weight: 900;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-blink {
  animation: blink 1.5s infinite;
}

.slider-container {
  width: 95%;
  padding: 20px 0;
  position: relative;
  margin: 0 auto;
}

.flicking-panel {
  width: 100%;
  padding: 0 10px;
}

@media (min-width: 480px) and (max-width: 767px) {
  .flicking-panel {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .flicking-panel {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .flicking-panel {
    width: 25%;
  }
}

.slider-buttons {
  background-color: rgba(130, 120, 24, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.slider-buttons:focus {
  outline: none;
}

.slider-buttons.left {
  left: 10px;
}

.slider-buttons.right {
  right: 10px;
}


.infinite-slider-container {
  overflow: hidden;
}

.infinite-flicking-panel {
  width: 100px; /* ajusta según tus necesidades */
  white-space: nowrap;
  animation: infiniteSlider 10s linear infinite;
}

@keyframes infiniteSlider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

