.line {
  position: relative;
  cursor: pointer;
}

.line::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #000;
  transition: width 0.3s ease-in-out;
}

.line:hover::after {
  width: 100%;
}

.circle {
  position: relative;
  cursor: pointer;
}

.circle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  bottom: 0px;
  left: 0;
  border: solid black 0px;
  border-radius: 50%;
  transition: 0.1s ease-in-out;
}

.circle:hover::after {
  width: 100%;
  border: solid black 1px;
}

.lineWhite {
  position: relative;
  cursor: pointer;
}

.lineWhite::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.lineWhite:hover::after {
  width: 100%;
}

.slideInRight {
  animation: slideInRight 0.5s normal;
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slideOutLeft {
  animation: slideOutLeft 0.5s forwards;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
